.tela {
    
    display: block;
    width: 100%;
    color: darkslategrey;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    
}
.centraliza-box-exclui {
    width: 100%;
    padding: 32px ;
    display: flex;
    
    
}
.tabela-exclui{
    border-radius: 4px;
    width: 700px;
    
    padding:32px 32px 32px 32px;
    display: block;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    color: darkslategrey;
    border: 2px solid ;
    border-color: rgb(9, 125, 119);
    
}
.linha-exclui{
    display: flex;
    margin: 8px;
    width: 700px;
    border: 2px solid ;
    border-color: rgb(9, 125, 119);
    border-radius: 4px;
    
}
.cor-campo-exclui{
    background-color:rgb(187, 230, 228); 
    width: auto;
    display: flex;
}

.campo-exclui{
    font-weight: 600;
    padding: 0 8px;
    width: 90px;
    margin: 8px;

}
.valor-exclui{
    font-size: 18px;
    font-weight: 500;
    color: darkslategrey;
    padding: 0 16px;
    margin: 8px;

}


.titulo-exclui{
    font-size: 18px;
    /* font-weight: 500; */
    color: darkslategrey;
    padding: 0 16px;
    margin: 8px;

}
.confirma-exclusao{
   display: flex;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    padding: 16px 100px 0 100px;
    justify-content: space-around;
}
.texto{
    text-decoration: none;
}

.exclui-cliente{
    
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

@media(max-width:920px){
    .centraliza-box-exclui{
        width: 90%;
        padding-left: 8px;
    }
    .tabela-exclui{
        border: none;
        padding-left: 0;
    }
    .linha-exclui{
        width: 75%;
    }
}