.form-user {
    display: block;
    width: 1000px;
    color: darkslategrey;
    margin: 32px;
    padding: 8px;
    border: 2px solid ;
    border-color: rgb(9, 125, 119);
    border-radius: 4px;
    
}    
.titulo-pagina-user{
    padding: 0 32px;
    color: darkslategrey;
}
.campo-form-user{
display: flex; 

margin: 16px;

border: 2px solid ;
border-color: rgb(9, 125, 119);
border-radius: 4px;


}
.campo-user{
    background-color: rgb(212, 238, 234);
}    
.titulo-user {
    color: darkslategrey;
    
    width: 120px;
    display: inline-flex;
    font-size: 18px;
    margin-top: 8px;
    border-radius: 4px;
    margin-bottom: 8px;
    margin-left: 16px;
}
.titulo-user-input{
    width: 50%;
    color: darkslategrey;
    
    display: inline-flex;
    font-size: 18px;
    margin-top: 8px;
    border-radius: 4px;
    margin-bottom: 8px;
    margin-left: 16px;

}
.form-cliente label {
    width: 60px;
}
.numero {
    width: auto;
    margin: 16px;
    font-size: 18px;
    border-radius: 4px;
    color: darkslategrey;
}
.rodape-user{
    display: flex;
    
}
.separa-rodape-user{
    padding-left: 16px;
}
.rodape-voltar {
    text-decoration: none;
    color: #ffffff;
}
@media(max-width:920px){
    .form-user{
        border: none;
        padding: 0;
        margin-left: 8px;
        width: 100%;

    }
    .campo-form-user{
        padding: 0;
        margin-left: 0;
    }
    .campo-user{
        padding-left: 0;
        margin-left: 0;
    }
}