.tela {
    display: block;
    width: 100%;
    color: darkslategrey;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    
}
.centraliza-box-edita {
    width: 100%;
    padding: 32px ;
    display: flex;
    
}
.tabela-edita{
    border-radius: 4px;
    width: 800px;
    padding: 32px;
    display: block;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    color: darkslategrey;
    border: 2px solid ;
    border-color: rgb(9, 125, 119);
    
}
.linha-edita{
    display: flex;
    margin: 8px;
    width: 600px;
    border: 2px solid ;
    border-color: rgb(9, 125, 119);
    border-radius: 4px;
}   


.cor-campo-edita{
    background-color:rgb(187, 230, 228); 
    width: auto;
    display: flex;
}

.campo-edita{
    
    font-weight: 600;
    padding: 0 8px;
    
    width: 90px;
    margin: 8px;
    


}
.valor{
    font-size: 18px;
    font-weight: 500;
    color: darkslategrey;
    padding: 0 16px;
    margin: 8px;

}

.titulo-edita{
    font-size: 18px;
    /* font-weight: 500; */
    color: darkslategrey;
    padding: 0 16px;
    margin: 8px;

}
.mostra-estado{
    margin: 8px;
}
.titulo-estado-edita{
    padding-left: 16px;
    margin-left: 8px;
    width:140px;
    font-size: 18px;
    border-radius: 4px;
    color: darkslategrey;;
    
}
.escolhe-estado-edita{
    margin-left: 8px;
    
    margin-top: 8px;
    height: 40px;
}
.rodape-edita{
    width: 300px;
    
    display: inline-flex;
    justify-content: space-between;
    padding: 0 66px;
}
.inclui-cliente-edita {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}
@media(max-width:920px){
    .centraliza-box-edita{
        padding-left: 8px;
        
    }
    .tabela-edita{
        border: none;
        padding-left: 0;
    }
    .linha-edita{
        width: 90%;
    }
    .inclui-cliente-edita{
        color: #ffffff;
        text-decoration: none;
    }
}