.form-cliente-esqueceu {
    display: block;
    width: 50%;
    color: darkslategrey;
    margin: 32px;
    padding: 8px;
    border: 2px solid ;
    border-color: rgb(9, 125, 119);
    border-radius: 4px;
    
}    
.titulo-pagina{
    padding: 0 32px;
    color: darkslategrey;
}
.campo-form-cliente-esqueceu{
display: block; 
align-content: space-between;   
margin: 16px;

border: 2px solid ;
border-color: rgb(9, 125, 119);
border-radius: 4px;

    
}
.titulo-esqueceu {
    color: darkslategrey;
    width: 60%;
    display: inline-flex;
    font-size: 18px;
    margin-top: 8px;
    border-radius: 4px;
    margin-bottom: 8px;
    margin-left: 16px;
}
.form-cliente label {
    width: 60px;
}
.rodape{
    display: flex;
    
}
.separa-rodape{
    padding-left: 16px;
}
.rodape-voltar {
    text-decoration: none;
    color: #ffffff;
}
.estado-selecao{
    padding-left: 32px;
}
@media(max-width:920px){
    .form-cliente-esqueceu{
        border: none;
        padding-left: 0;
        margin-left: 0;
        width: 100%;
    }
    .titulo{
        width: 100%;
    }
}
